/* Adaptive css cheat sheet */
/* * {
  outline: 1px solid red;
  visibility: visible;
} */

body {
  margin: 0 auto;
  background: #18181a;
  color: #fafbfd;
  min-width: 320px;
  /* Placeholder font  */
  font-family: Arial;
}
