looped_anim.mp4 filter=lfs diff=lfs merge=lfs -text
looped_anim2.mp4 filter=lfs diff=lfs merge=lfs -text
looped-anim3 filter=lfs diff=lfs merge=lfs -text
woowoo.mp4 filter=lfs diff=lfs merge=lfs -text
