.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 150px 0;
}

.header__logo {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 45px;
  height: 45px;
}

.header__github {
  position: fixed;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
}

.header__title {
  font-size: 175px;
  margin: 0 10px 10px;
  text-align: center;
}

.header__subtitle {
  font-size: 50px;
  margin: 0 5px 5px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .header__title {
    font-size: 100px;
  }

  .header__subtitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 75px;
  }

  .header__subtitle {
    font-size: 25px;
  }

  .header__logo {
    top: 6px;
    left: 6px;
    width: 30px;
    height: 30px;
  }

  .header__github {
    left: 3px;
    width: 30px;
    height: 30px;
  }
}
