.header__container {
  width: 100%;
}

.header {
  display: flex;
  height: 1000px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header__logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
}

.header__github {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.header__title {
  font-size: 175px;
  margin: 0 10px 10px;
  text-align: center;
}

.header__subtitle {
  font-size: 50px;
  margin: 0 5px 5px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .header {
    height: 600px;
  }
  /* 
  .header__logo {
    width: 60px;
    height: 60px;
  } */
  .header__title {
    font-size: 100px;
  }

  .header__subtitle {
    font-size: 40px;
  }
}

/* @media screen and (max-width: 600px) {
} */

@media screen and (max-width: 550px) {
  .header {
    height: 600px;
  }

  .header__title {
    font-size: 75px;
  }

  .header__subtitle {
    font-size: 25px;
  }
}
