.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 750px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact__title {
  font-size: 30px;
  margin: 0;
}

.contact__icons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact__icon {
  width: 96px;
  height: 96px;
}

@media screen and (max-width: 800px) {
  .contact__title {
    font-size: 20px;
  }

  .contact__icons-container {
    gap: 15px;
  }

  .contact__icon {
    width: 48px;
    height: 48px;
  }
}
