.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
}

.next__title-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.next__title {
  font-size: 30px;
  margin: 0 auto;
  flex-shrink: 0;
  font-family: "UbuntuSans-Bold", Arial;
}
