.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #211e1e;
  color: white;
  padding: 15px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.nav__list-item {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.nav__links-image {
  width: 25px;
}
