.footer {
  font-size: 25px;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: #131414;
  color: white;
  text-align: center;
  padding: 12px;
}

.footer__text {
  font-size: 15px;
}
