.skills {
  padding: 100px 100px;
  color: #fafbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.skills__title-container {
  display: flex;
  justify-content: center;
}

.skills__title {
  font-size: 40px;
  margin: 0;
}

.skills__list-container {
  display: flex;
  justify-content: flex-end;
}

/* .skills__title::before {
  content: "< ";
}

.skills__title::after {
  content: " />";
} */

.skills__front-header {
  font-size: 30px;
  margin: 0 0 30px;
}

.skills__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  gap: 10px;
  padding: 0;
  max-width: 500px;
}

.skills__item {
  font-size: 16px;
  background: #294056;
  border-radius: 12px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .skills {
    padding: 50px 50px;
  }

  .skills__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .skills__title-container {
    justify-content: center;
  }

  .skills__title {
    font-size: 30px;
  }

  .skills {
    gap: 50px;
    padding: 20px;
  }
}
