.skills {
  padding: 100px 100px;
  color: #fff6e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.skills__title-container {
  display: flex;
  justify-content: flex-end;
}

.skills__title {
  font-size: 35px;
  margin: 0;
}

.skills__title::before {
  content: "< ";
}

.skills__title::after {
  content: " />";
}

.skills__front-header {
  font-size: 30px;
  margin: 0 0 30px;
}

.skills__front-list {
  list-style-type: none;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.skills__front-list-item {
  margin: 0;
}

.skills__back {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
}

.skills__back-list {
  list-style-type: none;
}

.skills__back-header {
  font-size: 30px;
  margin: 0 0 25px;
}

.skills__back-list {
  list-style-type: none;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.skills__back-list-item {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .skills__front-list {
    font-size: 75px;
  }

  .skills__back-list {
    font-size: 75px;
  }
}

@media screen and (max-width: 700px) {
  .skills {
    padding: 50px 50px;
  }

  .skills__title {
    font-size: 20px;
  }

  .skills__front-header {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .skills__back-header {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .skills__front-list {
    font-size: 50px;
  }

  .skills__back-list {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .skills__title-container {
    justify-content: center;
  }

  .skills__title {
    font-size: 30px;
  }

  .skills__front-header {
    text-align: center;
  }

  .skills__back-header {
    text-align: center;
  }

  .skills {
    gap: 50px;
    padding: 20px;
  }

  .skills__front-list-item {
    text-align: center;
  }

  .skills__back-list-item {
    text-align: center;
  }
}
