.open-art__container {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}

.open-art__close-button {
  background: transparent url("../../images/close.svg") center no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.open-art__img {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto;
}
