.nav {
  color: #d8d9da;
  display: flex;
  justify-content: center;
  margin: 0px 100px 0;
  padding: 15px 0 0;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.nav__content-title {
  font-size: 20px;
  margin: 0;
}

.nav__buttons-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav__button {
  background: transparent;
  border: none;
  outline: none;
  color: #d8d9da;
  font-size: 18px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.nav__icons-container {
  /* height: 24px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav__icon {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
