.about {
  color: #fafbfd;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 75px;
  max-width: 1200px;
  margin: 0 auto;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-size: 40px;
  text-align: left;
  margin: 0;
}

.about__img {
  width: 320px;
  height: 380px;
  border-radius: 25%;
  object-fit: cover;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.75);
}

.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  margin: 45px 12px 0 0;
}

.about__text {
  line-height: 1.25;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0;
}
