.main__test {
    font-size: 75px;
    margin: 50px auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box {
    background: white;
    width: 100%;
    height: 100px;
    margin-top: 25px;
}

.box2 {
    background: red;
    width: 100%;
    height: 100px;
    margin-top: 25px;
}