.art-piece {
  display: flex;
}

.art-piece__container {
  background: #20272d;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.art-piece__img {
  width: 575px;
  height: 275px;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.art__close-button-H {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0;
}

.art__close-button {
  background: transparent url("../../images/close.svg") center no-repeat;
  width: 35px;
  height: 35px;
  border: none;
  margin: 0;
  padding: 0;
}

.art__opened {
  visibility: visible;
  opacity: 1;
}
