.art-piece {
  display: flex;
}

.art-piece__container {
  background: #20272d;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-piece__img {
  width: 575px;
  height: 275px;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}
