.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #20272d;
  border-radius: 20px;
  padding: 0 35px 35px;
  margin: 0;
}

.project__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.project__img {
  object-fit: cover;
  /* border-radius: 50px; */
}

.project__title {
  text-align: center;
  font-size: 30px;
  margin: 0 auto 20px;
}
