.my-story {
    background-color: #07051a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.my-story__title {
    font-size: 80px;
    font-weight: 200;
    font-family: "Montserrat-Regular";
}

.my-story__text-container {
    display: grid;
    width: 100%;
    /* flex-direction: column;
    justify-content: center; */
    font-family: "Montserrat-Regular";
    margin: 50px auto 10px;
}

.paragraph1 {
    justify-self: start;
    margin: 0 0 45px;
    max-width: 400px;
}

.paragraph2 {
    justify-self: end;
    margin: 0 0 45px 0;
    max-width: 400px;
}