.header {
  font-size: 25px;
}

.animation {
  width: 100%;
}

.header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.header__title {
  margin: 0;
  position: relative;
}

.header__subtitle {
  margin: 0;
}
